.userInfo-Area{
    margin-top:50px;
    margin-bottom:100px;

}
.data-area{
    width:300px;
    height:100px;
    float: left;
    margin-left:15px;
    margin-top:10px;
    padding:10px;
    
/**Border Gradient Style***/    
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, #743ad5, #1bd1df) 1;
/**Border Gradient Style***/
}